/* GLOBAL */
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    text-align: center;   
    background-color: #FFF; 
}
.container {
    margin: 0 40px 40px;
    padding: 100px 20px;
    box-shadow: 7px 7px 5px #F2F2F2, -7px -7px 5px #F2F2F2;
    min-height: 423px;
}
section h2 {
    font-size: 32px;
}
a {
    text-decoration: none;
    color: inherit;
}

/* HEADER */
header {
    background-color: #579C87;
    border-bottom: 2px solid #A1C181;
    margin-bottom: 40px;    
}
header h1  {
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    color: #FDCB46;
    margin: 0;
    padding: 24px 12px;
    letter-spacing: -2px;
}

/* MENU1 */
#menu1 {
    background-color: #FCDFDB;
}
#menu1 h2 {
    color: #3C1218;
    font-weight: 300;
    font-size: 24px;
    font-family: 'Devonshire', cursive;        
}
#menu1 h2.menu {
    font-family: 'Kalam', cursive;
    font-size: 32px;
    color: #3C1218;
}

/* MENU2 */
#menu2 {
    background-color: #FFF5FE;
}
#menu2 h2 {
    display: inline-block;
    background: linear-gradient(to right, #CC7C53,#A56799, #9860E7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 24px;
}
#menu2 h2.menu  {
    display: block;
    font-family: 'Roboto Slab', serif;      
    font-size: 32px;
    color: #CC7C53;
}

/* MENU3 */
#menu3 {
    background-color: #EDEFEE;
    font-family: 'Kalam', cursive;
}

#menu3 h2 {
    display: inline-block;
    background: linear-gradient(to right, #0526BF,#1371E5,#3198E5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Dancing Script', cursive;  
    font-size: 24px;  
}

#menu3 h2.menu  {
    display: block;
    font-size: 32px;
    color: #3198E5;
    font-family: 'Kalam', cursive;
    font-weight: 300;
}
/* MENU4 */
#menu4 {
    background-color: #FDFFFD;

    font-weight: 400;
}

#menu4 h2 {
    display: inline-block;
    background: linear-gradient(to right, #4EA043, #92D968, #BEFF7F);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Kaushan Script', cursive;  
    font-size: 24px;  
}

#menu4 h2.menu  {
    display: block;
    font-family: 'Kalam', cursive;      
    font-size: 32px;
    color: #72BF56;
    font-weight: 300;
}

/* SOON */
#soon {
    display: inline-block;
    position: relative;
    padding: 10px 40px;
    border-radius: 10px;
    color: #FDCB46;
    background-color: #579C87;
    margin-bottom: 97px;
}
#soon h2 {
    font-size: 24px;
    margin: 0;
    color: inherit;
}
#soon h2 span {
    visibility: hidden;;
}
#soon h2 span::before {
    content: "";
    position: absolute;
    visibility: visible;
    animation: dotted_line 1.5s infinite;
}
@keyframes dotted_line {
    0% { content: ""; }
    25% { content: "."; }
    50% { content: ".."; }
    75% { content: "..."; }
    100% { content: ""; }
}

/* FOOTER */
footer {
    background-color: #579C87;
    border-top: 2px solid #A1C181;
    position: fixed;  
    bottom: 0;
    width: 100%;
    z-index: 2;
}

footer h3 {
    font-family: 'Montserrat', sans-serif;
    color: #FDCB46;
    margin: 0;
    padding: 16px 12px;
}
.row {
    display: flex;
    justify-content: space-between;
}

/* DESKTOP*/
@media all and (min-width: 768px) {
    .center {
        display: flex;
        justify-content: center;
    }
    main .center section:not(#soon) {
        flex: 0 1 33%;
    }
    main .center section:not(#soon) h2{
        transition: transform 1s, opacity 1s;
    }
    main .center section:not(#soon):hover h2 {
        transform: scale(1.3);
        opacity: 0.8;
    }
    main .center section:not(#soon) h1:hover {
        cursor: pointer;
    }
}
