/* GLOBAL */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    text-align: center;   
    background-color: #FFF; 
}

a {
    text-decoration: none;
    color: inherit;
}
/* HEADER */
header {
    background-color: #579C87;
    border-bottom: 2px solid #A1C181;
    margin-bottom: 40px;    
}

header h1  {
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    font-weight: 700;
    color: #FDCB46;
    margin: 0;
    padding: 24px 12px;
    letter-spacing: -2px;
}

/* MENU1 */
#menu1 {
    background-color: #FCDFDB;
}

#menu1 h2 {
    color: #3C1218;
    font-weight: 300;
    font-size: 24px;
    font-family: 'Devonshire', cursive;        
}

#menu1 h2.menu {
    font-family: 'Kalam', cursive;
    font-size: 32px;
    color: #3C1218;
}

/* MENU2 */
#menu2 {
    background-color: #FFF5FE;
}

#menu2 h2 {
    display: inline-block;
    background: linear-gradient(to right, #CC7C53,#A56799, #9860E7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 24px;
}

#menu2 h2.menu  {
    display: block;
    font-family: 'Roboto Slab', serif;      
    font-size: 32px;
    color: #CC7C53;
}