/* MENU */
#menu1 {
    font-family: 'Kalam', cursive;
    background-color: #FCDFDB;
    color: #3C1218;
}
#menu1 h2:first-of-type {
    display: block;
    font-family: 'Devonshire', cursive;   
    margin-top: 0;
}
#menu1 .price {
    font-weight: 700;
}
#menu1 h2 img {
    margin-right: 5px;
}
/* LAPTOP */
@media all and (min-width: 768px) {
    .container{
        max-width: 660px;
        padding: 40px 80px;
    }
    #menu1 p {
        margin-left: 0;
    }
    #menu1 .price {
        margin-right: 0;
    }
    /* SIDELINE */
    #menu1 h3::before {
        content: url("../images/menu1_left.png");
        position: absolute;
        left: -5px;
        top: 3px;
    }
    #menu1 h3::after {
        content: url("../images/menu1_right.png");
        position: absolute;
        right: -5px;
        top: 3px;
    }
    /* UNDERLINE WHEN MOUSE HOVER */
    #menu1 h3 span::before {
        background-color: #3C1218;
    }
}