/* MENU */
#menu3 {
    background-color: #EDEFEE;
    font-family: 'Kalam', cursive;
    color: #000;
}
#menu3 h2:first-of-type {
    background: linear-gradient(to right, #0526BF,#1371E5,#3198E5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Dancing Script', cursive;    
}
#menu3 h3 {
    font-weight: 500;
}
/* LAPTOP */
@media all and (min-width: 768px) {
    .container{
        max-width: 680px;
    }
    /* SIDELINE */
    #menu3 h3.starter::before {
        content: url("../images/menu3_starter_left.png");
        position: absolute;
        left: -10px;
        top: 4px;
    }
    #menu3 h3.starter::after {
        content: url("../images/menu3_starter_right.png");
        position: absolute;
        right: -10px;
        top: 4px;
    }
    #menu3 h3.main_course::before {
        content: url("../images/menu3_main_left.png");
        position: absolute;
        left: -10px;
        top: 4px;
    }
    #menu3 h3.main_course::after {
        content: url("../images/menu3_main_right.png");
        position: absolute;
        right: -10px;
        top: 4px;
    }
    #menu3 h3.dessert::before {
        content: url("../images/menu3_dessert_left.png");
        position: absolute;
        left: -10px;
        top: 4px;
    }
    #menu3 h3.dessert::after {
        content: url("../images/menu3_dessert_right.png");
        position: absolute;
        right: -10px;
        top: 4px;
    }
    /* UNDERLINE WHEN MOUSE HOVER */
    #menu3 .starter h3 span::before{
        background-color: #0526BF;
    }
    
    #menu3 .main_course h3 span::before{
        background-color: #1371E5;
    }
    
    #menu3 .dessert h3 span::before{
        background-color: #3198E5;
    }
}