/* MENU */
#menu2 {
    background-color: #FFF5FE;
    font-family: 'Roboto Slab', serif;  
}
div.starter {
    color: #C67412;    
}
div.main_course {
    color: #A56799;
}
div.dessert {
    color: #6E4CCC;
}
#menu2 h2:first-of-type {
    background: linear-gradient(to right, #CC7C53,#A56799, #9860E7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* LAPTOP */
@media all and (min-width: 768px) {
    .container{
        max-width: 730px;
    }
    /* SIDELINE */
    #menu2 h3.starter::before {
        content: url("../images/menu2_starter_left.png");
        position: absolute;
        left: -10px;
        top: 4px;
    }
    #menu2 h3.starter::after {
        content: url("../images/menu2_starter_right.png");
        position: absolute;
        right: -10px;
        top: 4px;
    }
    #menu2 h3.main_course::before {
        content: url("../images/menu2_main_left.png");
        position: absolute;
        left: -10px;
        top: 4px;
    }
    #menu2 h3.main_course::after {
        content: url("../images/menu2_main_right.png");
        position: absolute;
        right: -10px;
        top: 4px;
    }
    #menu2 h3.dessert::before {
        content: url("../images/menu2_dessert_left.png");
        position: absolute;
        left: -10px;
        top: 4px;
    }
    #menu2 h3.dessert::after {
        content: url("../images/menu2_dessert_right.png");
        position: absolute;
        right: -10px;
        top: 4px;
    }

    /* UNDERLINE WHEN MOUSE HOVER */
    #menu2 .starter h3 span::before{
        background-color: #C67412;
    }
    #menu2 .main_course h3 span::before{
        background-color: #A56799;
    }
    #menu2 .dessert h3 span::before{
        background-color: #6E4CCC;
    }
}