h1 {
    color: #353535;
    font-family: 'Roboto', sans-serif;
}
/* MENU */
#menu3 {
    background-color: #EDEFEE;
    font-family: 'Kalam', cursive;
    color: #000;
}
.container{
    margin: 0 20px 113px;
    padding: 40px 10px;
}
#menu3 h2 {
    display: inline-block;
    background: linear-gradient(to right, #0526BF,#1371E5,#3198E5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Dancing Script', cursive;    
    font-size: 32px;
}
div.starter {
    margin-bottom: 60px;
}
div.main_course {
    margin-bottom: 60px;
}
div.dessert {
    margin-bottom: 60px;
}
#menu3 h3 {
    font-weight: 500;
    position: relative;
}
#menu3 p {
    font-size: 14px;
}
#menu3 .price { 
   font-size: 16px;
}
/* LAPTOP */
@media all and (min-width: 768px) {
    .container{
        max-width: 680px;
        margin: 0 auto 97px;
        padding: 40px;
    }
    #menu3 div div {
        display: flex;
        justify-content: space-between;
    }
    #menu3 p {
        font-size: 16px;
        margin: 8px 0 8px 60px;
    }
    #menu3 .price {
        font-size: 18px;
        margin: 8px 60px 8px 0;
    }
    /* SIDELINE */
    #menu3 h3.starter::before {
        content: url("../images/menu3_starter_left.png");
        position: absolute;
        left: -10px;
        top: 4px;
    }
    #menu3 h3.starter::after {
        content: url("../images/menu3_starter_right.png");
        position: absolute;
        right: -10px;
        top: 4px;
    }
    #menu3 h3.main_course::before {
        content: url("../images/menu3_main_left.png");
        position: absolute;
        left: -10px;
        top: 4px;
    }
    #menu3 h3.main_course::after {
        content: url("../images/menu3_main_right.png");
        position: absolute;
        right: -10px;
        top: 4px;
    }
    #menu3 h3.dessert::before {
        content: url("../images/menu3_dessert_left.png");
        position: absolute;
        left: -10px;
        top: 4px;
    }
    #menu3 h3.dessert::after {
        content: url("../images/menu3_dessert_right.png");
        position: absolute;
        right: -10px;
        top: 4px;
    }
    /* UNDERLINE WHEN MOUSE HOVER */
    #menu3 h3 span {
        display: inline-block;
        position: relative;
        padding: 0 10px 10px;
    }
    #menu3 h3 span::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 3px;
        transition: all 0.5s ease-in;
    }
    #menu3 .starter h3 span::before{
        background-color: #0526BF;
    }
    
    #menu3 .main_course h3 span::before{
        background-color: #1371E5;
    }
    
    #menu3 .dessert h3 span::before{
        background-color: #3198E5;
    }
    #menu3 h3 span:hover::before {
        width: 100%;
    }
}