h1 {
    color: #353535;
    font-family: 'Roboto', sans-serif;
}
/* MENU */
#menu4 {
    background-color: #FDFFFD;
    font-family: 'Kalam', cursive;
    font-weight: 400;
    color: #000;
}
.container{
    margin: 0 20px 113px;
    padding: 40px 10px;
}
#menu4 h2 {
    display: inline-block;
    background: linear-gradient(to right, #4EA043, #92D968, #BEFF7F);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Kaushan Script', cursive;   
    font-size: 32px;     
}
div.starter {
    margin-bottom: 60px;
}
div.main_course {
    margin-bottom: 60px;
}
div.dessert {
    margin-bottom: 60px;
}
#menu4 h3 {
    font-weight: 500;
    position: relative;
}
#menu4 p {
    font-size: 14px;
}
#menu4 .price {
    font-size: 16px;
}
/* LAPTOP */
@media all and (min-width: 768px) {
    .container{
        max-width: 720px;
        margin: 0 auto 97px;
        padding: 40px;
    }
    #menu4 div div {
        display: flex;
        justify-content: space-between;
    }
    #menu4 p {
        font-size: 16px;
        margin: 8px 0 8px 60px;
        text-align: left;
    }
    #menu4 .price {
        font-size: 18px;
        margin: 8px 60px 8px 0;
    }
    /* SIDELINE */
    #menu4 h3::before {
        content: url("../images/menu4_left.png");
        position: absolute;
        left: 5px;
        top: 4px;
    }
    #menu4 h3::after {
        content: url("../images/menu4_right.png");
        position: absolute;
        right: 5px;
        top: 4px;
    }
    /* UNDERLINE WHEN MOUSE HOVER */
    #menu4 h3 span {
        display: inline-block;
        position: relative;
        padding: 0 10px;
    }
    #menu4 h3 span::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 3px;
        background: linear-gradient(to right, #4EA043, #92D968, #BEFF7F, #92D968, #4EA043);
        transition: all 0.5s ease-in;
    }
    #menu4 h3 span:hover::before {
        width: 100%;
    }
}